<div class="interactive-wrapper gv-body">
    <div class="desktop">
        <div class="gv-body-image__container">
            <img class="body-image body-image__one" src="<%= path %>/header-images/gort-body-1.jpg" alt="" />
            <img class="body-image body-image__two" src="<%= path %>/header-images/gort-body-2.jpg" alt="" />
        </div>
    </div>
    <div class="mobile">
        <div class="body-image__container">
            <img class="body-image body-image__one" src="<%= path %>/header-images/gort-body-1.jpg" alt="" />
            <img class="body-image body-image__two" src="<%= path %>/header-images/gort-body-2.jpg" alt="" />
        </div>
    </div>
    <ul class="body-list">
        <li>Supporting a circular town centre economy</li>
        <li>Food sharing and waste reduction schemes</li>
        <li>Locating sites to test temporary interventions and inform permanent public realm design</li>
        <li>Deals and promotions to buy local</li>
        <li>Coordinate stock and delivery logistics</li>
        <li>High speed internet for businesses and visitors</li>
        <li>Improved public transport connections with data, and efficient last-mile logistics for market stalls and
            retail units</li>
    </ul>
</div>
</div>