<div class="interactive-wrapper gv-body">
    <div class="desktop">
        <div class="gv-body-image__container">
            <img class="body-image body-image__one" src="<%= path %>/header-images/foster-body-1.jpg" alt="" />
            <img class="body-image body-image__two" src="<%= path %>/header-images/fostter-body-2.jpg" alt="" />
        </div>
    </div>
    <div class="mobile">
        <div class="body-image__container">
            <img class="body-image body-image__one" src="<%= path %>/header-images/foster-body-1.jpg" alt="" />
            <img class="body-image body-image__two" src="<%= path %>/header-images/foster-body-2.jpg" alt="" />
        </div>
    </div>
    <ul class="body-list">
        <li>Shared space for pedestrians and cyclists</li>
        <li>Zebra crossing</li>
        <li>Restricted through-traffic</li>
        <li>Reduced/consolidated on-street parking</li>
        <li>Trees providing shade</li>
        <li>New street furniture</li>
        <li>Front gardens freed up for vegetation</li>
    </ul>
</div>
</div>