
.mobile {
    display: block;

    @include mq(tablet) {
        display: none;
    }
}

.desktop {
    display: none;
    @include mq(tablet) {
        display: block;
    }
}


.l-side-margins {

    &::before, &::after {
        display: none;
    }
}


.gv-number {
    display: block;
    position: absolute;
    top: -75px;
    left: -20px;
    z-index: 5;
    transform: scale(0.75);

    @include mq(tablet) {
        margin-left: -20px;
        transform: scale(1);
    }
    @include mq(leftCol) {
        margin-left: -10px;
    }
    @include mq(wide) {
        margin-left: -10px;
    }
}

.svg-corner {
    position: absolute;
    z-index: -1;
}

.top-left {
    top: -10px;
}

.top-right {
    top: -10px;
    right: -10px;
}

.bot-right {
    bottom: -20px;
    right: -10px;
}

.bot-left {
    bottom: -20px;
    left: -10px;
}

.header-image__container {
    margin-top: 75px;
    // position: relative;
}

.gv-header {
    position: relative;

        @include mq(tablet) {
            width: 740px;
            margin-left: -20px;
        }
         @include mq(desktop) {
            width: 980px;
            margin-left: -20px;
        }

        @include mq(leftCol) {
            width: 1120px;
            margin-left: -170px;
        }

        @include mq(wide) {
            width: 1280px;
            margin-left: -250px;

        }
    img {
        display: block;
        width: 100%;
        height: 100%;

    }
}

.interactive-atom {

    h2 {
        @include fs-headline(4);
        line-height: 1.2;
        font-weight: 700;
        padding-bottom: 6px;

        // @include mq(mobileMedium) {
        //     @include fs-headline(4);
        //     line-height: 1.2;
        // }

        @include mq(tablet) {
                @include fs-headline(6);
                line-height: 1.2;
                font-weight: 700;
        }
    }
}

.header-type {
    @include mq(leftCol) {
            // margin-left: 160px;
        }
        @include mq(wide) {
            // margin-left: 240px;
        }
}


.header-type__name {
        font-weight: 700;
        margin-top: -36px;
        position: relative;
        z-index: 1;

        span {
            display: inline;
            color: $neutral-7;
            background-color: #fff;
            margin-bottom: 20px;
            padding: 0 0 2px 0;
            box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
        }

        @include mq(tablet) {
            margin-top: -50px;
        }
}

.header-type__agency {
    @include fs-bodyCopy(2);
    font-weight: bold;
    // font-style: italic;
}


.header-image__two {
    position: absolute;
    top: 0px;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@keyframes fade {
    0% {opacity: 0;}
    10% {opacity: 0;}
    25% {opacity: 1;}
    70% {opacity: 1;}
    85% {opacity: 0;}
    100% {opacity: 0;}
}

.gv-body {
    position: relative;
    margin-left: -10px;
    margin-right: -10px;

        @include mq(tablet) {
            width: 740px;
            margin-left: -20px;
        }
         @include mq(desktop) {
            width: 980px;
            margin-left: -20px;
        }

        @include mq(leftCol) {
            width: 1120px;
            margin-left: -170px;
        }

        @include mq(wide) {
            width: 1280px;
            margin-left: -250px;

        }
    img {
        display: block;
        width: calc(100% - 10px);
        height: 100%;

        @include mq(tablet) {
            width: calc(50% - 5px);
        }
        @include mq(leftCol) {
            width: 50%;
        }
    }
}

.gv-body-image__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.body-image__one {
    margin-left: 10px;

    @include mq(tablet) {
        margin-left: 0px;
    }

    @include mq(leftCol) {
        margin-left: -10px;
    }
}

.body-image__two {
    margin-right: 10px;
    margin-top: 10px;

    @include mq(tablet) {
        margin-top: 25%;
        margin-right: -10px;
        margin-left: 10px;
    }
    

    @include mq(leftCol) {
        margin-top: 25%;
        margin-right: -10px;
        margin-left: 20px;
    }
}

.body-image__two {
    // margin-top: 25%;
}

.body-list {
    list-style: none;
    @include fs-textSans(3);
    font-size: 16px;
    line-height: 2;
    font-weight: bold;
    position: relative;
    padding-left: 10px;

    @include mq(tablet) {
        position: absolute;
        top: calc(60% + 20px);
        left: 4px;
    }
    @include mq(desktop) {
        top: calc(60% + 30px);
    }
    @include mq(leftCol) {
        top: calc(60% + 40px);
        left: 164px;
    }
    @include mq(wide) {
       top: calc(60% + 50px);
        left: 244px;
    }

    li:nth-of-type(1) {
    &::before {
        content: '';
        position: absolute;
        display: block;
        left: -20px;
        margin-top: 5px;
        background-image: url("<%= path %>/letters/a.svg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 5;
        width: 24px;
        height: 24px;
        }
    }
    li:nth-of-type(2) {
    &::before {
        content: '';
        position: absolute;
        display: block;
        left: -20px;
        margin-top: 5px;
        background-image: url("<%= path %>/letters/b.svg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 5;
        width: 24px;
        height: 24px;
        }
    }
    li:nth-of-type(3) {
    &::before {
        content: '';
        position: absolute;
        display: block;
        margin-top: 5px;
        left: -20px;
        background-image: url("<%= path %>/letters/c.svg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 5;
        width: 24px;
        height: 24px;
        }
    }
    li:nth-of-type(4) {
    &::before {
        content: '';
        position: absolute;
        display: block;
        margin-top: 5px;
        left: -20px;
        background-image: url("<%= path %>/letters/d.svg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 5;
        width: 24px;
        height: 24px;
        }
    }
    li:nth-of-type(5) {
    &::before {
        content: '';
        position: absolute;
        display: block;
        margin-top: 5px;
        left: -20px;
        background-image: url("<%= path %>/letters/e.svg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 5;
        width: 24px;
        height: 24px;
        }
    }
}