<div class="interactive-wrapper gv-body">
    <div class="desktop">
        <div class="gv-body-image__container">
            <img class="body-image body-image__one" src="<%= path %>/header-images/chicago-body-1.jpg" alt="" />
            <img class="body-image body-image__two" src="<%= path %>/header-images/chicago-body-2.jpg" alt="" />
        </div>
    </div>
    <div class="mobile">
        <div class="body-image__container">
            <img class="body-image body-image__one" src="<%= path %>/header-images/chicago-body-1.jpg" alt="" />
            <img class="body-image body-image__two" src="<%= path %>/header-images/chicago-body-2.jpg" alt="" />
        </div>
    </div>
    <ul class="body-list">
        <li>Streetscape amenities</li>
        <li>Zebra crossing</li>
        <li>Greenery</li>
        <li>Flexible indoor-outdoor retail pavilions</li>
        <li>Cycling lanes</li>
    </ul>
</div>
</div>