<div class="interactive-wrapper gv-body">
    <div class="desktop">
        <div class="gv-body-image__container">
            <img class="body-image body-image__one" src="<%= path %>/header-images/chicago-body-1.jpg" alt="" />
            <img class="body-image body-image__two" src="<%= path %>/header-images/chicago-body-2.jpg" alt="" />
        </div>
    </div>
    <div class="mobile">
        <div class="body-image__container">
            <img class="body-image body-image__one" src="<%= path %>/header-images/chicago-body-1.jpg" alt="" />
            <img class="body-image body-image__two" src="<%= path %>/header-images/chicago-body-2.jpg" alt="" />
        </div>
    </div>
    <ul class="body-list">
        <li>Flexible indoor/outdoor retail pavilions</li>
        <li>Socially distanced al-fresco dining</li>
        <li>Cycle route and footfall info accessible via smartphones</li>
        <li>Pop-ups related to commute</li>
        <li>Socially distanced outdoor meeting spaces near buildings</li>
        <li>Resting areas with foliage</li>
    </ul>
</div>
</div>