<div class="interactive-wrapper">
    <div class="gv-header gv-header__one">
        <div class="gv-number">
            <svg width="152" height="152" viewBox="0 0 152 152" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 21V1H21" stroke="#58D08B" stroke-linecap="square" stroke-dasharray="2 4" />
                <path d="M151 131L151 151L131 151" stroke="#58D08B" stroke-linecap="square" stroke-dasharray="2 4" />
                <path
                    d="M48.1 113.2C43.9 113.2 39.9 112.433 36.1 110.9C32.3667 109.3 29.0667 106.967 26.2 103.9C23.4 100.767 21.1667 96.9 19.5 92.2999C17.8333 87.7 17 82.3666 17 76.2999C17 69.9666 17.8667 64.4333 19.6 59.7C21.3333 54.9666 23.6333 51.0666 26.5 48C29.4333 44.8666 32.8333 42.5333 36.7 41C40.5667 39.4666 44.6 38.7 48.8 38.7C52.9333 38.7 56.8667 39.4666 60.6 41C64.3333 42.5333 67.5667 44.8333 70.3 47.9C73.1 50.9 75.3 54.7333 76.9 59.4C78.5667 64.0666 79.4 69.4999 79.4 75.7C79.4 81.9 78.5667 87.3666 76.9 92.1C75.2333 96.8333 72.9667 100.767 70.1 103.9C67.3 106.967 64 109.3 60.2 110.9C56.4 112.433 52.3667 113.2 48.1 113.2ZM48.4 111.4C52 111.4 54.5 108.5 55.9 102.7C57.3 96.9 58 88.1666 58 76.5C58 64.1666 57.2667 55.1 55.8 49.2999C54.4 43.4333 51.9 40.5 48.3 40.5C44.7667 40.5 42.2333 43.4333 40.7 49.2999C39.1667 55.1 38.4 63.8333 38.4 75.5C38.4 87.6333 39.1667 96.6666 40.7 102.6C42.2333 108.467 44.8 111.4 48.4 111.4Z"
                    fill="black" />
                <path
                    d="M82.3531 112V110.3L92.7531 107.3V49L82.4531 51.4V49.2L103.253 39.2999H111.053V107.3L121.053 110.3V112H82.3531Z"
                    fill="black" />
            </svg>
        </div>
        <div class="svg-corner top-right"><svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 0.999999L21 1L21 21" stroke="#58D08B" stroke-linecap="square" stroke-dasharray="2 4" />
            </svg></div>
        <div class="svg-corner bot-right"><svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <rect width="22" height="22" transform="translate(22) rotate(90)" fill="white" />
                    <path d="M21 1L21 21L1 21" stroke="#58D08B" stroke-linecap="square" stroke-dasharray="2 4" />
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="22" height="22" fill="white" transform="translate(22) rotate(90)" />
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="svg-corner desktop bot-left"><svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <rect width="22" height="22" transform="translate(22) rotate(90)" fill="white" />
                    <path d="M21 21L1 21L0.999999 1" stroke="#58D08B" stroke-linecap="square" stroke-dasharray="2 4" />
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="22" height="22" fill="white" transform="translate(22) rotate(90)" />
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="header-image__container desktop">
            <img class="header-image__one" src="<%= path %>/header-images/chicago-1300-1.jpg" alt="" />
            <img class="header-image__two" src="<%= path %>/header-images/chicago-1300-2.jpg" alt="" />
        </div>
        <div class="header-image__container mobile">
            <img class="header-image__one" src="<%= path %>/header-images/chicago-mobile-1.jpg" alt="" />
            <img class="header-image__two" src="<%= path %>/header-images/chicago-mobile-2.jpg" alt="" />
        </div>
    </div>
    <div class="header-type">
        <h2 class="header-type__name"><span>Cycle Superhighway</span></h2>
        <h3 class="header-type__agency">Skidmore, Owings & Merrill</h3>
    </div>
</div>