<div class="interactive-wrapper gv-body">
    <div class="desktop">
        <div class="gv-body-image__container">
            <img class="body-image body-image__one" src="<%= path %>/header-images/drmm-body-1.jpg" alt="" />
            <img class="body-image body-image__two" src="<%= path %>/header-images/drmm-body-2.jpg" alt="" />
        </div>
    </div>
    <div class="mobile">
        <div class="body-image__container">
            <img class="body-image body-image__one" src="<%= path %>/header-images/drmm-body-1.jpg" alt="" />
            <img class="body-image body-image__two" src="<%= path %>/header-images/drmm-body-2.jpg" alt="" />
        </div>
    </div>
    <ul class="body-list">
        <li>Industrial building with climbing wall and tennis courts</li>
        <li>Converted industrial building, providing internal sports halls and community facilities</li>
        <li>Residential and industrial space in the same building
        </li>
        <li>More free space for recreational facilities</li>
    </ul>
</div>
</div>