@import "fonts";
@import "mq";
@import "palette";
@import "enhancer";
@import "header";

.interactive-atom {
    margin: 0;
    padding: 0;
}

.l-side-margins {

    &::before, &::after {
        display: none;
    }
}

.mobile {
    display: block;

    @include mq(tablet) {
        display: none;
    }
}

.desktop {
    display: none;
    @include mq(tablet) {
        display: block;
    }
}

.gv-number {
    display: block;
    position: absolute;
    top: -75px;
    left: -20px;
    z-index: 5;
    transform: scale(0.75);

    @include mq(tablet) {
        margin-left: -20px;
        transform: scale(1);
    }
    @include mq(leftCol) {
        margin-left: -10px;
    }
    @include mq(wide) {
        margin-left: -10px;
    }
}

.svg-corner {
    position: absolute;
    z-index: -1;
}

.top-left {
    top: -10px;
}

.top-right {
    top: -10px;
    right: -10px;
}

.bot-right {
    bottom: -20px;
    right: -10px;
}

.bot-left {
    bottom: -20px;
    left: -10px;
}

.header-image__container {
    margin-top: 75px;
    // position: relative;
}

.gv-header {
    position: relative;

        @include mq(tablet) {
            width: 740px;
            margin-left: -20px;
        }
         @include mq(desktop) {
            width: 980px;
            margin-left: -20px;
        }

        @include mq(leftCol) {
            width: 1120px;
            margin-left: -170px;
        }

        @include mq(wide) {
            width: 1280px;
            margin-left: -250px;

        }
    img {
        display: block;
        width: 100%;
        height: 100%;

    }
}

.interactive-atom {

    h2 {
        @include fs-headline(4);
        line-height: 1.2;
        font-weight: 700;
        padding-bottom: 6px;

        // @include mq(mobileMedium) {
        //     @include fs-headline(4);
        //     line-height: 1.2;
        // }

        @include mq(tablet) {
                @include fs-headline(6);
                line-height: 1.2;
                font-weight: 700;
        }
    }
}

.header-type {
    @include mq(leftCol) {
            // margin-left: 160px;
        }
        @include mq(wide) {
            // margin-left: 240px;
        }
}


.header-type__name {
        font-weight: 700;
        margin-top: -36px;
        position: relative;
        z-index: 1;

        span {
            display: inline;
            color: $neutral-7;
            background-color: #fff;
            margin-bottom: 20px;
            padding: 0 0 2px 0;
            box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
        }

        @include mq(tablet) {
            margin-top: -50px;
        }
}

.header-type__agency {
    @include fs-bodyCopy(2);
    font-weight: bold;
    // font-style: italic;
}


.header-image__two {
    position: absolute;
    top: 0px;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@keyframes fade {
    0% {opacity: 0;}
    10% {opacity: 0;}
    25% {opacity: 1;}
    70% {opacity: 1;}
    85% {opacity: 0;}
    100% {opacity: 0;}
}